<div id="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 offset-3 mt-3 mb-3 text-center">
        <h4>Форма для голосування (впорядкуйте кандидатів за місцями)</h4>
        <div [formGroup]="form">
          <div formArrayName="selectedCandidates">
            <div class="form-group row" *ngFor="let control of selectedCandidatesArray.controls; let i = index">
              <label class="col-1 col-form-label">{{ i + 1}}</label>
              <div class="col-11">
                <select [formControlName]="i" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let availableCandidate of availableCandidates" [value]="availableCandidate">
                    {{ availableCandidate }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="vote()">
            Зберегти
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="profile.length > 0">
      <div class="row">
        <div class="col-6 offset-3 mb-3">
          <div class="form-group">
            <label>Оберіть алгоритм визначення переможця</label>
            <select class="form-control" (change)="approachChanged($event.target.value)">
              <option value=""></option>
              <option value="majority">Метод абсолютної більшості</option>
              <option value="simpson">Сетод Симпсона</option>
            </select>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary" [disabled]="!approach"
              (click)="calculate()">Розрахувати</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Профіль голосування</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Кількість голосів</th>
                <th scope="col">1 місце</th>
                <th scope="col">2 місце</th>
                <th scope="col">3 місце</th>
                <th scope="col">4 місце</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of profile; let i = index">
                <th scope="row">{{ item.count }}</th>
                <td *ngFor="let candidate of candidates; let j = index">{{ item.results[j] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row" *ngIf="secondProfile.length > 0 && approach === 'majority'">
        <div class="col">
          <h4>Профіль голосування другого тура</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Кількість голосів</th>
                <th scope="col">1 місце</th>
                <th scope="col">2 місце</th>
                <th scope="col">3 місце</th>
                <th scope="col">4 місце</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of secondProfile; let i = index">
                <th scope="row">{{ item.count }}</th>
                <td *ngFor="let candidate of candidates; let j = index">{{ item.results[j] }}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <h4>{{ winnerText }}</h4>
    </div>
  </div>
  <div id="hFooter"> </div>
</div>


<footer id="footer">
  <div class="text-center">
    &copy; Олексій Рябишев {{ currentDate | date:'yyyy' }}
  </div>
</footer>
